$orange: #e74c03;
$black: #31393f;
$gray: #9d9d9d;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 5rem;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-orange {
  color: $orange;
}

.text-gray {
  color: $gray;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.m-t-1r {
  margin-top: 1rem;
}

.MuiInputLabel-root {
  @extend .fw-600;
  @extend .fs-12;
}

.w-100 {
  width: 100%;
}

.d-f {
  display: flex;
}

.j-c {
  justify-content: center;
}

.a-c {
  align-items: center;
}

.j-sb {
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.Mui-focused {
  fieldset {
    border-color: $orange !important;
  }
}

.MuiOutlinedInput-root:hover fieldset {
  border-color: $orange !important;
}
